:root {
}

.panel {
    display: flex;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel-active {
    visibility: visible;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
